.fullpage {
  height: 100vh;
}
.login-container {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  height: 100%;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}










#notifsuccess, #notiffail{
  width: 200px;
  height: 100px;
  background: #70c48f;
  color: white;
  border-radius: 3px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 100px;
  left: 200px;
}

/*#notif {
  left: 10px;
  opacity: 0;
}*/

/* @keyframes movein {
  from { left: -200px; }
  to   { left: 10px; }
}

@keyframes moveout {
  from { left: 10px; }
  to   { left: -200px; }
} */


.visible {
  animation: movein 0.5s ease forwards, moveout 0.5s 3s ease forwards;
}


/*@keyframes movein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes moveout {
  from { opacity: 1; }
  to   { opacity: 0; }
}*/
