<div class="col-md-9 headerhero" >
  <div class="col-sm-6 col-lg-4 col-md-4 mobiles" *ngFor="let player of products">
      <div class="product-list-box thumb">
          <a href="javascript:void(0);" class="image-popup" title="Screenshot-1">
              <img src="{{player.image}}" class="thumb-img" alt="work-thumbnail">
          </a>

          <div class="product-action">
              <a style="float:right" routerLink="./products/{{player.id}}" class="btn btn-success ">Detail</a>

          </div>

          <div class="price-tag">
              ${{player.id}}
          </div>
          <div class="detail">
              <h4 class="m-t-0"><a href="" class="text-dark">{{player.name}}</a> </h4>

              <h5 class="m-0"> <span class="text-muted"> {{player.address}}</span></h5>
          </div>

          <button type="button" class="btn" (click)="addItemToCart(item)" [class.btn-outline-primary]="itemInCart(item).length">
              <i class="fas fa-shopping-cart"></i>
         </button>
         
      </div>
  </div>




























    </div>
