<app-appnav></app-appnav>
<div class="row">

  <div class="container">

                  <!-- Page-Title -->
      <div class="row">

        <div class="col-sm-6 col-lg-4 col-md-4 mobiles" *ngFor="let player of products">
            <div class="product-list-box thumb">
                <a href="javascript:void(0);" class="image-popup" title="Screenshot-1">
                    <img src="{{player.image}}" class="thumb-img" alt="work-thumbnail">
                </a>

                <div class="product-action">
                    <a style="float:right" routerLink="../products/{{player._id}}" class="btn btn-success ">Detail</a>

                </div>

                <div class="price-tag">
                    ${{player.price}}
                </div>
                <div class="detail">
                    <h4 class="m-t-0"><a href="" class="text-dark">{{player.name}}</a> </h4>

                    <h5 class="m-0"> <span class="text-muted"> {{player.description}}</span></h5>

                    <button type="button" class="btn" (click)="addItemToCart(player)" [class.btn-outline-primary]="itemInCart(player).length">
                      Add to cart<i class="fas fa-shopping-cart"></i>
                  </button>


                </div>
            </div>
        </div>



          </div> <!-- End row -->




              </div>
