.headerhero{
    position: relative;
    height: 75vh;
    /* background-color: aqua; */
    background-image: linear-gradient(to right bottom , #ff00ff,blue,black);
    /* clip-path: polygon(0 0,100% 0 ,100% 75%,0 100%); */
}
.text-box{
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%,-50%);
}

.heading{
    text-transform: uppercase;
    color: white;
    backface-visibility: hidden;
    text-align: center;

}
.primary_heading{

    display: block;
    font-size: 6rem;
    font-weight: 100;
    /* line-height: 1.7; */
    letter-spacing: 21px;
    animation: left 1s ease-in-out 0.2s;
}
.sub_heading{

    display: block;
    font-size: 2rem;
    font-weight: 500;
    /* line-height: 1.2; */
    letter-spacing: 11px;
    animation: right 1s ease-in-out 0.2s;
    margin-bottom: 60px;


}
@keyframes left{
    0%{
        transform: translateX(-40%);
        opacity: 0;
    }
    80%{
        transform: translateX(5%);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes right{
    0%{
        transform: translateX(40%);
        opacity: 0;
    }
    80%{
        transform: translateX(-5%);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes bottom{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}


.btn:link,.btn:visited{
    text-transform: uppercase;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
}
.btn:hover{
    transform:translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active{
    transform:translateY(2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-white{
    color: gray;
    background: white;
}
.btn-animated{
    display: inline-block;
    animation: bottom 0.5s ease-out 0.5s;
    animation-fill-mode: backwards;
}
.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width:100%;
    border-radius: 100px;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    transition: all 0.2s
}
.btn-white::after{
    background-color: white;
}
.btn:hover::after{
    transform: scale(1.4,1.6);
    opacity: 0;
}














/* Product page */
.product-list-box {
  position: relative;
}
.product-list-box img {
  height: auto;
  margin: 0 auto;
  display: block;
}
.product-list-box .product-action {
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
}
.product-list-box .price-tag {
  float: right;
  height: 64px;
  width: 64px;
  text-align: center;
  line-height: 64px;
  background-color: rgba(152, 166, 173, 0.2);
  border: 1px solid #98a6ad;
  border-radius: 50%;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  margin-right: 10px;
}
.product-list-box .detail {
  padding: 20px;
  margin: 0px -10px -10px;
  overflow: hidden;
}
.product-list-box .detail h4 a {
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
}
.product-list-box:hover .product-action {
  display: block;
}
.rating ul {
  margin-left: 0;
}
.rating ul li {
  padding: 0;
}
.rating ul li a {
  color: #ffbd4a;
  font-size: 15px;
  margin-bottom: 0;
  padding-right: 4px;
}
.product-search {
  border-radius: 30px;
  padding: 7px 22px;
  background-color: transparent !important;
  border: 2px solid #98a6ad !important;
}
.product-detail-box .sp-wrap {
  max-width: 100%;
}



/* Popover */
.popover {
  font-family: inherit;
  border: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background-clip: padding-box;
}
.popover .popover-title {
  background-color: transparent;
  color: #7e57c2;
  font-weight: 600;
}



.mx-box {
  max-height: 380px;
  min-height: 380px;
}
.thumb-sm {
  height: 32px;
  width: 32px;
}
.thumb-md {
  height: 48px;
  width: 48px;
}
.thumb-lg {
  height: 88px;
  width: 88px;
}




.thumb {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  width: 100%;
}
.thumb-img {
  border-radius: 2px;
  overflow: hidden;
  width: 100%;
}
.gal-detail h4 {
  margin-top: 16px;
}
