
.btn {
  border-radius: 3px;
  outline: none !important;
}
.btn-md {
  padding: 8px 16px;
}
.btn-primary,
.btn-success,
.btn-default,
.btn-info,
.btn-warning,
.btn-danger,
.btn-inverse,
.btn-purple,
.btn-pink {
    color: #ffffff !important;
}
.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open > .dropdown-toggle.btn-default {
    background-color: #7e57c2 !important;
    border: 1px solid #7e57c2 !important;
}
.btn-white,
.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.btn-white.focus,
.btn-white:active,
.btn-white:focus,
.btn-white:hover,
.open > .dropdown-toggle.btn-white {
    border: 1px solid #eaeaea !important;
    background-color: #ffffff;
    color: #4c5667;
}
.btn-white:hover,
.btn-white:hover:hover,
.btn-white:focus:hover,
.btn-white:active:hover,
.btn-white.active:hover,
.btn-white.focus:hover,
.btn-white:active:hover,
.btn-white:focus:hover,
.btn-white:hover:hover,
.open > .dropdown-toggle.btn-white:hover {
    background-color: #f9f9f9;
}
.btn-white:focus,
.btn-white:hover:focus,
.btn-white:focus:focus,
.btn-white:active:focus,
.btn-white.active:focus,
.btn-white.focus:focus,
.btn-white:active:focus,
.btn-white:focus:focus,
.btn-white:hover:focus,
.open > .dropdown-toggle.btn-white:focus {
    background-color: #f9f9f9;
}
.btn-white:active,
.btn-white:hover:active,
.btn-white:focus:active,
.btn-white:active:active,
.btn-white.active:active,
.btn-white.focus:active,
.btn-white:active:active,
.btn-white:focus:active,
.btn-white:hover:active,
.open > .dropdown-toggle.btn-white:active {
    background-color: #f9f9f9;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
    background-color: #5d9cec !important;
    border: 1px solid #5d9cec !important;
}
.btn-success,
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.focus,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.open > .dropdown-toggle.btn-success {
    background-color: #81c868 !important;
    border: 1px solid #81c868 !important;
}
.btn-info,
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.focus,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.open > .dropdown-toggle.btn-info {
    background-color: #34d3eb !important;
    border: 1px solid #34d3eb !important;
}
.btn-warning,
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.focus,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover,
.open > .dropdown-toggle.btn-warning {
    background-color: #ffbd4a !important;
    border: 1px solid #ffbd4a !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.btn-danger.active,
.btn-danger.focus,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.open > .dropdown-toggle.btn-danger {
    background-color: #f05050 !important;
    border: 1px solid #f05050 !important;
}
.btn-inverse,
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.focus,
.btn-inverse:active,
.btn-inverse:focus,
.btn-inverse:hover,
.open > .dropdown-toggle.btn-inverse {
    background-color: #4c5667 !important;
    border: 1px solid #4c5667 !important;
    color: #ffffff;
}
.btn-purple,
.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active {
    background-color: #7266ba !important;
    border: 1px solid #7266ba !important;
    color: #ffffff;
}
.btn-pink,
.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active {
    background-color: #fb6d9d !important;
    border: 1px solid #fb6d9d !important;
    color: #ffffff;
}
.open > .dropdown-toggle.btn-primary.btn-custom,
.open > .dropdown-toggle.btn-success.btn-custom,
.open > .dropdown-toggle.btn-info.btn-custom,
.open > .dropdown-toggle.btn-warning.btn-custom,
.open > .dropdown-toggle.btn-danger.btn-custom,
.open > .dropdown-toggle.btn-default.btn-custom {
    border-width: 2px !important;
    color: #ffffff !important;
}
.open > .dropdown-toggle.btn-white.btn-custom {
    border-width: 2px !important;
}
.btn-custom.btn-default {
    color: #7e57c2 !important;
}
.btn-custom.btn-primary {
    color: #5d9cec !important;
}
.btn-custom.btn-success {
    color: #81c868 !important;
}
.btn-custom.btn-info {
    color: #34d3eb !important;
}
.btn-custom.btn-warning {
    color: #ffbd4a !important;
}
.btn-custom.btn-danger {
    color: #f05050 !important;
}
.btn-custom.btn-inverse {
    color: #4c5667 !important;
}
.btn-custom.btn-purple {
    color: #7266ba !important;
}
.btn-custom.btn-white {
    color: #4c5667 !important;
}
.btn-custom.btn-white:hover,
.btn-custom.btn-white:focus,
.btn-custom.btn-white:active {
    color: #4c5667 !important;
    background-color: #f4f8fb !important;
}
.btn-custom.btn-pink {
     color: #fb6d9d !important;
}
.btn-rounded {
    border-radius: 2em !important;
    padding: 6px 20px;
}
.btn-rounded .btn-label {
    padding: 7px 15px 7px 20px;
    margin-left: -20px;
}
.btn-rounded .btn-label-right {
    margin-right: -20px;
    margin-left: 12px;
}
.btn-custom {
    -moz-border-radius: 2px;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -webkit-border-radius: 2px;
    -webkit-transition: all 400ms ease-in-out;
    background: transparent;
    background-color: transparent !important;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    border-width: 2px !important;
    font-weight: 600;
    transition: all 400ms ease-in-out;
    background-clip: inherit;
}
.btn-custom:hover {
  color: #ffffff !important;
  border-width: 2px !important;
}
.btn-custom:focus {
  color: #ffffff !important;
  border-width: 2px !important;
}
.btn-label {
  background: rgba(0, 0, 0, 0.05);
  display: inline-block;
  padding: 7px 15px;
  border-radius: 3px 0 0 3px;
  margin: -7px -13px;
  margin-right: 12px;
}
.btn-label-right {
  margin-left: 12px;
  margin-right: -13px;
  border-radius: 0px 3px 3px 0px;
}
.btn-group.open .dropdown-toggle {
  box-shadow: none;
}





/* =============
   Panels
============= */
.panel {
  border: none;
  margin-bottom: 20px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
}
.panel .panel-body {
  padding: 20px;
}
.panel .panel-body p {
  margin: 0px;
}
.panel .panel-body p + p {
  margin-top: 15px;
}
.panel-heading {
  border: none !important;
  padding: 10px 20px;
}
.panel-default > .panel-heading {
  background-color: #f4f8fb;
  border-bottom: none;
  color: #797979;
}
.panel-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.panel-footer {
  background: #f4f8fb;
  border-top: 0px;
}
.panel-color .panel-title {
  color: #ffffff;
}
.panel-custom > .panel-heading {
  background-color: #7e57c2;
}
.panel-primary > .panel-heading {
  background-color: #5d9cec;
}
.panel-success > .panel-heading {
  background-color: #81c868;
}
.panel-info > .panel-heading {
  background-color: #34d3eb;
}
.panel-warning > .panel-heading {
  background-color: #ffbd4a;
}
.panel-danger > .panel-heading {
  background-color: #f05050;
}
.panel-purple > .panel-heading {
  background-color: #7266ba;
}
.panel-pink > .panel-heading {
  background-color: #fb6d9d;
}
.panel-inverse > .panel-heading {
  background-color: #4c5667;
}
.panel-border .panel-heading {
  background-color: #ffffff;
  border-top: 3px solid #DADFE2 !important;
  padding: 10px 20px 0px;
}
.panel-border .panel-body {
  padding: 15px 20px 20px 20px;
}
.panel-border.panel-custom .panel-heading {
  border-color: #7e57c2 !important;
  color: #7e57c2 !important;
}
.panel-border.panel-primary .panel-heading {
  border-color: #5d9cec !important;
  color: #5d9cec !important;
}
.panel-border.panel-success .panel-heading {
  border-color: #81c868 !important;
  color: #81c868 !important;
}
.panel-border.panel-info .panel-heading {
  border-color: #34d3eb !important;
  color: #34d3eb !important;
}
.panel-border.panel-warning .panel-heading {
  border-color: #ffbd4a !important;
  color: #ffbd4a !important;
}
.panel-border.panel-danger .panel-heading {
  border-color: #f05050 !important;
  color: #f05050 !important;
}
.panel-border.panel-purple .panel-heading {
  border-color: #7266ba !important;
  color: #7266ba !important;
}
.panel-border.panel-pink .panel-heading {
  border-color: #fb6d9d !important;
  color: #fb6d9d !important;
}
.panel-border.panel-inverse .panel-heading {
  border-color: #4c5667 !important;
  color: #4c5667 !important;
}
.panel-group .panel .panel-heading a[data-toggle=collapse].collapsed:before {
  content: '\f0d7';
}
.panel-group .panel .panel-heading .accordion-toggle.collapsed:before {
  content: '\f0d7';
}
.panel-group .panel .panel-heading a[data-toggle=collapse] {
  display: block;
}
.panel-group .panel .panel-heading a[data-toggle=collapse]:before {
  content: '\f0d8';
  display: block;
  float: right;
  font-family: 'FontAwesome';
  font-size: 14px;
  text-align: right;
  width: 25px;
}
.panel-group .panel .panel-heading .accordion-toggle {
  display: block;
}
.panel-group .panel .panel-heading .accordion-toggle:before {
  content: '\f0d8';
  display: block;
  float: right;
  font-family: 'FontAwesome';
  font-size: 14px;
  text-align: right;
  width: 25px;
}
.panel-group .panel .panel-heading + .panel-collapse .panel-body {
  border-top: none;
}
.panel-group .panel-heading {
  padding: 12px 26px;
}
.panel-group.panel-group-joined .panel + .panel {
  border-top: 1px solid #eeeeee;
  margin-top: 0;
}
.panel-group-joined .panel-group .panel + .panel {
  border-top: 1px solid #eeeeee;
  margin-top: 0;
}
.panel .nav-pills li a {
  color: #4c5667 !important;
}
.panel .nav-pills li.active a {
  color: #ffffff !important;
}
/* =============
   Portlets
============= */
.portlet {
  background: #ffffff;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  margin-bottom: 20px;
}
.portlet .portlet-heading {
  -webkit-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  background-clip: padding-box;
  color: #ffffff;
  padding: 12px 20px;
}
.portlet .portlet-heading .portlet-title {
  color: #ffffff;
  float: left;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.portlet .portlet-heading .portlet-widgets {
  display: inline-block;
  float: right;
  font-size: 15px;
  line-height: 30px;
  padding-left: 15px;
  position: relative;
  text-align: right;
}
.portlet .portlet-heading .portlet-widgets .divider {
  margin: 0 5px;
}
.portlet .portlet-heading .portlet-widgets .collapsed .ion-minus-round:before {
  content: "\f217" !important;
}
.portlet .portlet-heading a {
  color: #999999;
}
.portlet .portlet-body {
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  background: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px;
}
.portlet-default .portlet-title {
  color: #797979 !important;
}
.portlet .portlet-heading.bg-custom a,
.portlet .portlet-heading.bg-purple a,
.portlet .portlet-heading.bg-info a,
.portlet .portlet-heading.bg-success a,
.portlet .portlet-heading.bg-primary a,
.portlet .portlet-heading.bg-danger a,
.portlet .portlet-heading.bg-warning a,
.portlet .portlet-heading.bg-inverse a,
.portlet .portlet-heading.bg-pink a {
  color: #ffffff;
}
.panel-disabled {
  background: rgba(243, 242, 241, 0.5);
  bottom: 15px;
  left: 0px;
  position: absolute;
  right: -5px;
  top: 0;
}
.loader-1 {
  -moz-animation: loaderAnimate 1000ms linear infinite;
  -o-animation: loaderAnimate 1000ms linear infinite;
  -webkit-animation: loaderAnimate 1000ms linear infinite;
  animation: loaderAnimate 1000ms linear infinite;
  clip: rect(0, 30px, 30px, 15px);
  height: 30px;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  position: absolute;
  top: 50%;
  width: 30px;
}
.loader-1:after {
  -moz-animation: loaderAnimate2 1000ms ease-in-out infinite;
  -o-animation: loaderAnimate2 1000ms ease-in-out infinite;
  -webkit-animation: loaderAnimate2 1000ms ease-in-out infinite;
  animation: loaderAnimate2 1000ms ease-in-out infinite;
  border-radius: 50%;
  clip: rect(0, 30px, 30px, 15px);
  content: '';
  height: 30px;
  position: absolute;
  width: 30px;
}
/* =============
   Tables
============= */
.table {
  margin-bottom: 10px;
}
.table-striped > tbody > tr:nth-of-type(odd),
.table-hover > tbody > tr:hover,
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f4f8fb !important;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td,
.table > thead > tr > th,
.table-bordered {
  border-top: 1px solid #ebeff2;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ebeff2;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ebeff2;
}
tbody {
  color: #797979;
}
th {
  color: #666666;
  font-weight: 600;
}
.table-bordered {
  border: 1px solid #ebeff2;
}
table.focus-on tbody tr.focused th {
  background-color: #7e57c2;
  color: #ffffff;
}
table.focus-on tbody tr.focused td {
  background-color: #7e57c2;
  color: #ffffff;
}
.table-rep-plugin .table-responsive {
  border: none !important;
}
.table-rep-plugin tbody th {
  font-size: 14px;
  font-weight: normal;
}
.table-rep-plugin .checkbox-row {
  padding-left: 40px;
}
.table-rep-plugin .checkbox-row label {
  display: inline-block;
  padding-left: 5px;
  position: relative;
}
.table-rep-plugin .checkbox-row label::before {
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid #cccccc;
  content: "";
  display: inline-block;
  height: 17px;
  left: 0;
  margin-left: -20px;
  position: absolute;
  transition: 0.3s ease-in-out;
  width: 17px;
  outline: none !important;
}
.table-rep-plugin .checkbox-row label::after {
  color: #555555;
  display: inline-block;
  font-size: 11px;
  height: 16px;
  left: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  position: absolute;
  top: -1px;
  width: 16px;
}
.table-rep-plugin .checkbox-row input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none !important;
}
.table-rep-plugin .checkbox-row input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}
.table-rep-plugin .checkbox-row input[type="checkbox"]:focus + label::before {
  outline-offset: -2px;
  outline: none;
}
.table-rep-plugin .checkbox-row input[type="checkbox"]:checked + label::after {
  content: "\f00c";
  font-family: 'FontAwesome';
}
.table-rep-plugin .checkbox-row input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.table-rep-plugin .checkbox-row input[type="checkbox"]:checked + label::before {
  background-color: #7e57c2;
  border-color: #7e57c2;
}
.table-rep-plugin .checkbox-row input[type="checkbox"]:checked + label::after {
  color: #ffffff;
}
.fixed-table-container tbody .selected td {
  background-color: #F4F8FB;
}
.modal-block {
  background: transparent;
  margin: 40px auto;
  max-width: 600px;
  padding: 0;
  position: relative;
  text-align: left;
}


/* =============
   Widgets
============= */
/* Widget-box styles */
.widget-box-1 i.inform {
  font-size: 20px;
  cursor: pointer;
}
.widget-box-1 h4 {
  margin-bottom: 5px;
  margin-top: 0px;
}
.widget-box-1 h2 {
  margin: 20px;
  font-weight: 600;
}
.widget-box-1 p {
  margin-bottom: 0px;
}
.widget-s-1 {
  border-radius: 6px;
}
/* Widget (background-icon) */
.widget-bg-color-icon .bg-icon {
  height: 80px;
  width: 80px;
  text-align: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-border-radius: 50%;
  background-clip: padding-box;
}
.widget-bg-color-icon .bg-icon i {
  font-size: 32px;
  line-height: 80px;
}
.widget-bg-color-icon .bg-icon-info {
  background-color: rgba(52, 211, 235, 0.2);
  border: 1px solid #34d3eb;
}
.widget-bg-color-icon .bg-icon-primary {
  background-color: rgba(93, 156, 236, 0.2);
  border: 1px solid #5d9cec;
}
.widget-bg-color-icon .bg-icon-pink {
  background-color: rgba(251, 109, 157, 0.2);
  border: 1px solid #fb6d9d;
}
.widget-bg-color-icon .bg-icon-purple {
  background-color: rgba(114, 102, 186, 0.2);
  border: 1px solid #7266ba;
}
.widget-bg-color-icon .bg-icon-success {
  background-color: rgba(129, 200, 104, 0.2);
  border: 1px solid #81c868;
}
.widget-bg-color-icon .bg-icon-custom {
  background-color: rgba(126, 87, 194, 0.2);
  border: 1px solid #7e57c2;
}
.widget-bg-color-icon .bg-icon-warning {
  background-color: rgba(255, 189, 74, 0.2);
  border: 1px solid #ffbd4a;
}
.widget-bg-color-icon .bg-icon-danger {
  background-color: rgba(240, 80, 80, 0.2);
  border: 1px solid #f05050;
}
.widget-bg-color-icon .bg-icon-inverse {
  background-color: rgba(76, 86, 103, 0.2);
  border: 1px solid #4c5667;
}
/* Image  */
.img-container,
.img-preview {
  background-color: #f7f7f7;
  overflow: hidden;
  width: 100%;
  text-align: center;
}
.img-container {
  min-height: 200px;
  max-height: 466px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .img-container {
    min-height: 466px;
  }
}
.img-container > img {
  max-width: 100%;
}
.docs-preview {
  margin-right: -15px;
  margin-bottom: 10px;
}
.img-preview {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.img-preview > img {
  max-width: 100%;
}
