<app-appnav></app-appnav>

<div class="container">

						<!-- Page-Title -->
						<div class="row">

						</div>

                       <div class="row">
                           <div class="col-xs-12">
                               <div class="card-box product-detail-box">
                                   <div class="row">
                                       <div class="col-sm-4">
                                           <div class="sp-loading" style="display: none;"><img src="assets/images/sp-loading.gif" alt=""><br>LOADING
                                               IMAGES
                                           </div>
                                           <div class="sp-wrap sp-non-touch" style="display: inline-block;">

                                           <div class="thumbnail"><a href="{{product.image}}" class=".sp-current-big"><img src="assets/images/products/big/1.jpg" alt=""></a></div></div>
                                       </div>

                                       <div class="col-sm-8">
                                           <div class="product-right-info">
                                               <h3><b>{{product.name}}</b></h3>
                                               <div class="rating">
                                                    <ul class="list-inline">
                                                        <li><a class="fa fa-star" href=""></a></li>
                                                        <li><a class="fa fa-star" href=""></a></li>
                                                        <li><a class="fa fa-star" href=""></a></li>
                                                        <li><a class="fa fa-star" href=""></a></li>
                                                        <li><a class="fa fa-star-o" href=""></a></li>
                                                    </ul>
                                                </div>

                                               <h2>Price: <b>{{product.price}}</b><small class="text-muted m-l-10"><del>${{product.price}}</del> </small></h2>


                                               <hr>

                                               <h5 class="font-600">Product Description</h5>

                                               <p class="text-muted">{{product.description}}</p>

                                               <p class="text-muted">{{product.description}}</p>

                                               <div class="m-t-30">
                                                   <button type="button" class="btn btn-white" title="Add to Wish List"><i class="fa fa-heart-o"></i></button>
                                                   <button (click)="addItemToCart(product)"  type="button" class="btn btn-danger waves-effect waves-light m-l-10">
                                                     <span class="btn-label"><i class="fa fa-shopping-cart"></i>
                                                   </span>Add to card</button>



                                               </div>
                                           </div>
                                       </div>
                                   </div>
                                   <!-- end row -->




                               </div> <!-- end card-box/Product detai box -->
                           </div> <!-- end col -->
                       </div> <!-- end row -->


                    </div>













<h1>Producct Detail</h1>
<a [routerLink]="['./products']">Back</a>
<div *ngIf="product">
  <div>Id: {{product._id}}</div>

</div>
